:root {
    --body-font-family: "Poppins-Regular", Helvetica;
    --body-font-size: 20px;
    --body-font-style: normal;
    --body-font-weight: 400;
    --body-letter-spacing: 0px;
    --body-line-height: normal;
    --button-font-family: "AnonymousPro-Bold", Helvetica;
    --button-font-size: 32px;
    --button-font-style: normal;
    --button-font-weight: 700;
    --button-letter-spacing: 0px;
    --button-line-height: normal;
    --img-caption-font-family: "Poppins-Italic", Helvetica;
    --img-caption-font-size: 14px;
    --img-caption-font-style: italic;
    --img-caption-font-weight: 400;
    --img-caption-letter-spacing: 0px;
    --img-caption-line-height: normal;
    --modal-headings-font-family: "AnonymousPro-Bold", Helvetica;
    --modal-headings-font-size: 32px;
    --modal-headings-font-style: normal;
    --modal-headings-font-weight: 700;
    --modal-headings-letter-spacing: 0px;
    --modal-headings-line-height: normal;
    --nav-bar-font-family: "Poppins-Regular", Helvetica;
    --nav-bar-font-size: 24px;
    --nav-bar-font-style: normal;
    --nav-bar-font-weight: 400;
    --nav-bar-letter-spacing: 0px;
    --nav-bar-line-height: normal;
    --primary-green: rgba(207, 225, 185, 1);
    --project-title-font-family: "Inter-Bold", Helvetica;
    --project-title-font-size: 32px;
    --project-title-font-style: normal;
    --project-title-font-weight: 700;
    --project-title-letter-spacing: 0px;
    --project-title-line-height: normal;
    --secondary-green: rgba(135, 152, 106, 1);
    --secondary-heading-font-family: "AnonymousPro-Bold", Helvetica;
    --secondary-heading-font-size: 32px;
    --secondary-heading-font-style: normal;
    --secondary-heading-font-weight: 700;
    --secondary-heading-letter-spacing: 0px;
    --secondary-heading-line-height: normal;
    --skills-font-family: "Poppins-Regular", Helvetica;
    --skills-font-size: 16px;
    --skills-font-style: normal;
    --skills-font-weight: 400;
    --skills-letter-spacing: 0px;
    --skills-line-height: normal;
    --title-font-family: "AnonymousPro-Bold", Helvetica;
    --title-font-size: 40px;
    --title-font-style: normal;
    --title-font-weight: 700;
    --title-letter-spacing: 0px;
    --title-line-height: normal;
  }
  