
h1 {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

body {
    color: #3f3f3f;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Optional: Inherits the text color from the parent element */
}


.aboutContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 700px; 
    padding: 0px 150px;
    gap: 80px;
    flex-shrink: 1;
}

/* Media query for screen sizes at or below 1344px */
@media (max-width: 1350px) {
    .aboutContainer {
        flex-direction: column; /* Change direction from row to column */
    }

    .leftSection, .rightSection {
        /* Adjust width to take the full container width */
        width: 100%;
        align-items: center; /* Center-align items for a better layout */
    }

    .imageCard {
        /* Optional: Adjust imageCard size for smaller screens */
        width: 100%;
        height: auto;
    }
}

/* About section split into left and right containers */


/* About section left container and contents */
.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    align-self: stretch;
    flex-shrink: 1;
}

.aboutTitle {
    display: flex;
    align-items: flex-start; /* Align items to the start vertically */
    padding-right: 93.525px;
    margin-top: 0; /* Remove any top margin */
    flex-grow: 0; /* Do not allow it to grow */
}

.aboutBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribute space evenly */
    flex-grow: 1; /* Allow this section to grow to fill space */
}

.aboutBody p {
    margin-top: 10px; /* Adjust top margin as needed */
    margin-bottom: 10px; /* Adjust bottom margin as needed */
    flex-grow: 1; /* Allows each paragraph to grow equally */
}

.hireMe {
    margin-left: 10px;
}

/* End */


/* About section Right container and contents */

.rightSection {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-self: stretch;
    flex-shrink: 1;
}

.imageCard {
    width: 520px;
    height: 560px;
    overflow: hidden; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.imageCard img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.aboutButtonRow {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-grow: 1; 
    width: 100%;
    max-width: 500px;
}

.LinkedInButton, .GitHubButton {
    /* Shared Styles */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 220px;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #838383;
    color: #EDE0D4;
    font-family: Anonymous Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative; 
    overflow: hidden;
    cursor: pointer; 
}

.LinkedInButton {
    background: #7F5539;
}

.GitHubButton {
    background: #B08968;
}

.LinkedInButton::after, .GitHubButton::after {
    content: '';
    position: absolute;
    bottom: 15px; 
    height: 2px; 
    background-color: currentColor; 
    transition: width 0.3s;
    width: 0; 
    left: 50%; 
    transform: translateX(-50%); 
}

.LinkedInButton:hover::after, .GitHubButton:hover::after {
    width: calc(100% - 50px); 
    left: 25px; 
    transform: translateX(0); 
}


/* End */