.skillsContainer {
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px; 
    min-height: 700px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    background-color: #E6CCB2;
}

.skillsTitle {
    font-family: "Anonymous Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
    margin-bottom: 20px;
}

.skillsColumn h3{
    font-family: "Anonymous Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
}

.skillsColumn p{
    color: #000;
    text-align: center;
    /* Body */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.skillsContent {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skillsColumn {
    flex-basis: 20%; /* Adjust as needed */
}

.skillsColumn h3 {
    margin-bottom: 10px;
}

.skillsColumn p {
    text-align: left;
    margin: 0px;
}

.resumeButtonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}


.resumeButton{

    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;

    border-radius: 5px;
    border: 1px solid #838383;
    background: #B08968;

    color: #EDE0D4;

    /* Button */
    font-family: "Anonymous Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
