.worksContainer {
    margin-top: 0px;
    padding-top: 0px; 
    padding-bottom: 100px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.worksTitle {
    color: #000;
    text-align: center;
    padding-bottom: 50px;
    
    /* Title */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.cardsContainer {
    display: flex;
    justify-content: space-evenly; /* Distributes space evenly */
    align-items: flex-start;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    width: 100%; /* Ensures the container takes full width */
    max-width: 1500px;
    gap: 30px;
    z-index: 3;
}

@media (max-width: 600px) {
    .worksTitle {
        font-size: 24px; /* Reduce title font size to 20px */
    }

}