.worksContainer {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.worksTitle {
    color: #000;
    text-align: center;
    
    /* Title */
    font-family: "Anonymous Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
}

.card {
    /* Styles for individual cards */
    width: 30%; /* Example width, adjust as needed */
    /* Add more styling for cards here */
}
